

@media (min-width:200px) {
    body {
        columns: 2 auto;
    }


@media (min-width:800px) {
    body {
        columns: 3 auto;
    }
}
@media (min-width:1000px) {
   body {  
        columns: 4 auto;
    }
}
ul{
    list-style: none;
}
img{
    width: 80%;
    height: auto;
}
#grid-floats{
    float: left;
    width: 40%;
    margin: 20px;
    overflow: hidden;
    text-align: center;
}

#grid-flex{
    display: flex; 
    flex-direction: column;
    width: 40%;
    text-align: center;
}
.grid-item{
    color: rgb(49, 47, 49);
}

#grid-floats li:nth-child(2) {
    background: lightcyan;
    color: darkblue;
    font-size: 20px;
  }

#grid-flex li:nth-child(6){
    background: lightgoldenrodyellow;
    color: darkgoldenrod;
    font-size: 20px;
}
#grid-flex h3{
    color: rgb(27, 99, 233);
    font-weight: bold;
    font-size: 22px;
}

#grid-floats h3{
    color: rgb(4, 77, 7);
    font-weight: bold;
    font-size: 22px;
}
